<%- include ('../../partials/navbar.ejs') %>
<%- include ('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <h2>Skins</h2><br>
    <a class="btn btn-dark" href="/admin/skins/new">Criar nova skin</a>
    <hr>
    <select onchange="updateView()" class="form-control"  name="categorias" id="categorias">
      <option value="" selected>Selecione uma categoria</option>
      <% categories.forEach(category => { %>
        <option value= "<%= category.name %>"> <%= category.name %> </option>
      <% }) %>
      <option value= "All"> All </option>

    </select>
      <br>

    </tbody>
      <div class="row">
        <% skins.forEach(skin => { %>
        <div class="col-sm-3">
          <div class="card">
              <img class="card-img-top" src='data:image/jpeg;base64,<%= skin.image %>'>
              <div class="card-body">
                  <h3 class="card-title"><%= skin.name %></h3>
                  <h5 class="card-title"><%= skin.category.name %></h5>
                  <p class="card-text">R$ <%= skin.price %></p>
                  <a class="btn btn-info" href="/admin/skin/edit/<%= skin.id %>">Editar</a>
                  <form method="POST" action="/admin/skin/delete" style="display: inline;" >
                      <input type="hidden" name="id" value="<%= skin.id %>">  
                      <button class="btn btn-danger">Deletar</button>
                  </form>
              </div>
            </div>
            <br>
        </div>
        <% }) %>
      </div>
</div>

<script>
  function updateView() {
    var x = document.getElementById("categorias").value;
    if (x=="All") {
    window.location.href = "/admin/skins
    }   
    else {
    window.location.href = "/admin/skins?categoryName=" + x
  }
}
</script>
<%- include ('../../partials/footer.ejs') %>
